table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0 !important;
  text-indent: initial;

  thead {
    border-bottom: 0.5px solid #783f34;
  }
}

tbody tr {
  border-bottom: 0.4px solid rgb(198, 198, 198);
}

td,
th {
  padding: 1rem;
  border: none;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: rgb(245, 245, 245);
}

.search-container {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1.5px solid #783f34;
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  flex-grow: 1;
  padding-right: 10px;
  border: none;
  background: transparent;
  color: #686868;
  font-family: Roboto, sans-serif;
  font-size: 2.3rem;
  font-weight: lighter;
}

.search-input::placeholder {
  font-family: Roboto, sans-serif;
  font-size: 2.3rem;
  font-weight: lighter;
  color: #686868;
  opacity: 1;
}

.search-input:focus {
  box-shadow: none;
  outline: none;
}

.search-icon {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.search-icon svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: currentColor;
}

.header-cell {
  display: flex;
  align-items: center;
}

.sort-buttons {
  display: flex;
  flex-direction: column;
}

.sort-button {
  display: inline-block;
  padding: 0;
  border: none;
  margin: 0 2px;
  background: none;
  cursor: pointer;
  font-size: 8px;
  line-height: 1;
}
