div.insitu-newsitem-view,
div.insitu-report-view {
  p.documentDescription.callout {
    background: #eee;
  }

  div.lead-img {
    margin: 1em;
    text-align: center;

    img.main-img {
      width: auto;
      max-width: 100%;
      max-height: 700px;
    }

    p.main-img-caption {
      background: #eee;
    }
  }

  div.subject-tags {
    .label {
      margin: 0.5em;
    }

    margin-bottom: 2em;
  }
}
