.contenttype-insitu\.report .eea.banner {
  background: #f2ece4 !important;
  color: #333332 !important;

  .gradient {
    background: transparent !important;
  }

  .action {
    .icon,
    span {
      color: #333332 !important;
    }
  }
}

.file-download {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
  background: #f9f7f6;
  color: #333332;

  .button {
    border: 2px solid #783f34 !important;
    background-color: #f9f7f6 !important;
    color: #783f34 !important;
  }

  a {
    display: inline-block;
    color: #333332;
    font-size: 17px;
    font-weight: 700;
    word-break: break-word;
  }

  p {
    color: #747678;
    font-size: 11px;
    font-weight: 400;
  }
}

.file-title {
  display: flex;
  align-items: center;

  img {
    height: 33px;
    padding: 3px;
    margin-right: 5px;
  }
}

.publisher {
  background: transparent;
}

div.insitu-report-view {
  p.documentDescription.callout {
    padding-left: 0;
    border: none;
    background: transparent;
    font-size: 14px;
    overflow-wrap: break-word !important;
    word-break: normal !important;
    word-wrap: break-word !important;
  }
}

div.insitu-newsitem-view {
  p.documentDescription.callout {
    font-weight: 600;
  }
}

div.insitu-newsitem-view,
div.insitu-report-view {
  .ui.grid {
    margin-top: 1em;
    margin-bottom: 1em !important;
  }

  .file-download {
    max-width: 740px;
    margin: 0 auto;
  }

  div.lead-img {
    margin: 1em;
    text-align: center;

    img.main-img {
      width: auto;
      max-width: 100%;
      max-height: 700px;
    }

    p.main-img-caption {
      background: #eee;
    }
  }

  div.subject-tags {
    .label {
      margin: 0.5em;
    }

    margin-bottom: 2em;
  }

  @media (max-width: 991px) {
    .ui.grid > .row {
      flex-direction: column;
    }

    .ui.grid > .row > [class*='eight wide'].column {
      width: 100% !important;
    }

    .ui.grid > .row > [class*='four wide'].column {
      width: 100% !important;
      padding-top: 20px;
    }
  }
}

.insitu-newsitem-view {
  img {
    max-width: 100%;
    height: auto;
  }
}
